<!DOCTYPE html>
<html>
<head>
  <title>Etusivu</title>
</head>
<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} | <a href="/logout">Kirjaudu ulos</a>
  </p>
  
  <h2>Uusi ketju</h2>
<form action="/new_thread" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="100" required />
    </p>
    <p>
      Viesti: <br />
      <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% else %}
  <form action="/login" method="post">
    <p>Tunnus: <br /><input type="text" name="username" /></p>
    <p>Salasana: <br /><input type="password" name="password" /></p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p><a href="/register">Luo tunnus</a></p>
  {% endif %}

<hr />
  <h2>Keskustelut</h2>
  
  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />

  {% for thread in threads %}
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a><br />
    {{ thread.total }} viestiä, uusin {{ thread.last }}
  </p>
  <hr />
  {% endfor %}
</body>
</html>