{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}
  <h2>Etsi pelivuoroja</h2>
  <form action="/search" method="get">
    <p>
      <label for="query">Hakusana</label>:<br />
      <input type="text" id="query" name="query" value="{{ query if query else '' }}" />
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  <ul>
  {% for result in results %}
    <li>
      <a href="/thread/{{ result.thread_id }}#{{ result.message_id }}">
        {{ result.thread_title }}
      </a>
      <br />
      {{ result.username }} ({{ result.sent_at }})
    </li>  
  {% endfor %}
  </ul>
  {% endif %}
{% endblock %}